{% extends "@admin/navigation/sidebar-menu.html.twig" %}

{% block navigation %}
    {{ parent() }}
    <li>
        <a href="{{site.uri.public}}/formgenerator"><i class="fas fa-file-contract fa-fw"></i> <span>FormGenerator Example</span></a>
    </li>
{% endblock %}